@model AimsManagement1.ViewModels.StudTrainViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<style>
    .card-header h3 {
        text-align: center;
    }
</style>

    <div class="card">
        <div class="card-header">
            <h3 class="text-uppercase">Update Record</h3>
        </div>
        <div class="card-body">
        <form asp-action="Update" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                 </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="District" class="control-label"></label>
                            <input asp-for="District" class="form-control" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Education" class="control-label"></label>
                            <input asp-for="Education" class="form-control" />
                            <span asp-validation-for="Education" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Birthdate" class="control-label"></label>
                            <input asp-for="Birthdate" class="form-control" />
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Course" class="control-label"></label>
                            <input asp-for="Course" class="form-control" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PassportPhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="PassportPhoto" class="custom-file-input" id="PassportPhoto" name="PassportPhoto" accept="image/*" onchange="previewImage('PassportPhoto', 'PassportPhotoPreview')" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div id="PassportPhotoPreview" class="image-preview"></div>
                    <span asp-validation-for="PassportPhoto" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdentityProof" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="IdentityProof" class="custom-file-input" id="IdentityProof" name="IdentityProof" accept="image/*" onchange="previewImage('IdentityProof', 'identityPhotoPreview')" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div id="identityPhotoPreview" class="image-preview"></div>
                    <span asp-validation-for="IdentityProof" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-sm btn-primary rounded-0" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0">Back to List</a>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function previewImage(inputId, previewId) {
        const input = document.getElementById(inputId);
        const preview = document.getElementById(previewId);
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '200px';
                img.style.height = '150px';
                img.style.border = '2px solid #ccc'; // Example border styling
                img.style.borderRadius = '8px'; // Example border-radius
                img.style.marginTop = '10px'; // Example margin
                img.style.boxShadow = '0px 20px 60px rgba(2, 4, 6, 0.1)';
                preview.innerHTML = '';
                preview.appendChild(img);
            };

            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = '';
        }
    }


</script>  